.header {
    text-align:center;
    font-size: 64px;
    color: white;
    background-color: blue;
    height: 100px;
}
.content {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.search {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}
h2 {
    font-size: 48px;
    font-weight:bold;
    text-align: center;
    background-color:darkcyan;
    padding:5px;
    margin-top: -10px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.searchBar {
    width: 620px;
    height: 100px;
    font-size: 48px;
}

.citySearch {
    width: 620px;
    height: 500px;
    background-color: cadetblue;
}
.citySelect {
    margin-left: 10px;
}
.cityPhoto {
    height: 500px;
    width: 620px;
    border: darkblue solid 5px;
}
.cities {
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    justify-content:center;
    width: 350px;
    height: 100px;
    font-size: 48px;
}
.searchBTN {
    margin-top: 20px;
    margin-left: 100px;
    width: 250px;
    height: 80px;
    font-size: 36px;
    background-color:blue;
}

.weather {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.cityData {
    color: black;
    font-size: 36px;
    margin: 0 auto;
    width: 1050px;
    height: 400px;
    background-color: aqua;
    border: rgb(0, 168, 168) solid 5px;
}
.fiveDays {
    display: flex;
    flex-direction: row;
}
.day {
    background-color: cadetblue;
    border: rgb(39, 70, 71) solid 5px;
    height: 240px;
    width: 180px;
    margin: 10px;
    border-radius: 5px;
}